<?xml version="1.0"?>
<config>
    <modules>
        <Tritac_ChannelEngine>
            <version>5.7.1</version>
        </Tritac_ChannelEngine>
    </modules>
    <global>
        <blocks>
            <channelengine>
                <class>Tritac_ChannelEngine_Block</class>
            </channelengine>
        </blocks>
        <helpers>
            <channelengine>
                <class>Tritac_ChannelEngine_Helper</class>
            </channelengine>
        </helpers>
        <models>
            <channelengine>
                <class>Tritac_ChannelEngine_Model</class>
                <resourceModel>channelengine_resource</resourceModel>
            </channelengine>
            <channelengine_resource>
                <class>Tritac_ChannelEngine_Model_Resource</class>
                <entities>
                    <order>
                        <table>channelengine_order</table>
                    </order>
                    <shipment>
                        <table>channelengine_shipment</table>
                    </shipment>
                </entities>
            </channelengine_resource>
        </models>
        <resources>
            <channelengine_setup>
                <setup>
                    <module>Tritac_ChannelEngine</module>
                    <class>Tritac_ChannelEngine_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </channelengine_setup>
            <channelengine_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </channelengine_read>
            <channelengine_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </channelengine_write>
        </resources>
        <events>

            <sales_order_creditmemo_save_after>
                <observers>
                    <shipmentsave>
                        <type>singleton</type>
                        <class>channelengine/observer</class>
                        <method>creditCancellation</method>
                    </shipmentsave>
                </observers>
            </sales_order_creditmemo_save_after>


            <sales_order_shipment_save_after>
                <observers>
                    <shipmentsave>
                        <type>singleton</type>
                        <class>channelengine/observer</class>
                        <method>saveShipment</method>
                    </shipmentsave>
                </observers>
            </sales_order_shipment_save_after>
            <resource_get_tablename>
                <observers>
                    <channelengine_composer_autoloader>
                        <type>singleton</type>
                        <class>channelengine/loader</class>
                        <method>addComposerAutoloader</method>
                    </channelengine_composer_autoloader>
                </observers>
            </resource_get_tablename>
        </events>
    </global>

    <default>
        <payment>
            <channelengine>
                <active>1</active>
                <model>channelengine/payment_method_channelengine</model>
                <name>ChannelEngine</name>
                <title>Order paid on Marketplace Channel - ChannelEngine</title>
                <allowspecific>0</allowspecific>
                <order_status>pending</order_status>
            </channelengine>
        </payment>
        <carriers>
            <channelengine>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>channelengine/carrier_channelengine</model>
                <title>Shipping paid on Marketplace Channel - ChannelEngine</title>
                <price>0</price>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </channelengine>
        </carriers>

        <channelengine>
            <general>
                <enable_order_import>1</enable_order_import>
            </general>
        </channelengine>

    </default>

    <frontend>
        <routers>
            <channelengine>
                <use>standard</use>
                <args>
                    <module>Tritac_ChannelEngine</module>
                    <frontName>channelengine</frontName>
                </args>
            </channelengine>
        </routers>
        <layout>
            <updates>
                <channelengine>
                    <file>channelengine.xml</file>
                </channelengine>
            </updates>
        </layout>
        <product>
            <collection>
                <attributes>
                    <description />
                    <image />
                </attributes>
            </collection>
        </product>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tritac_channelengine after="Mage_Adminhtml">Tritac_ChannelEngine_Adminhtml</tritac_channelengine>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <!--<core_block_abstract_prepare_layout_before>
                <observers>
                    <ordergrid_column_append>
                        <type>singleton</type>
                        <class>channelengine/observer</class>
                        <method>appendCustomColumnToOrderGrid</method>
                    </ordergrid_column_append>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <prepare_order_grid_collection>
                        <type>singleton</type>
                        <class>channelengine/observer</class>
                        <method>prepareOrderGridCollection</method>
                    </prepare_order_grid_collection>
                </observers>
            </sales_order_grid_collection_load_before>-->
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <channelengine_import_fulfilmentorders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>channelengine/observer::fetchMarketplaceFulfilledOrders</model>
                </run>
            </channelengine_import_fulfilmentorders>
            <channelengine_import_orders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>channelengine/observer::fetchNewOrders</model>
                </run>
            </channelengine_import_orders>
            <channelengine_import_returns>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>channelengine/observer::fetchReturns</model>
                </run>
            </channelengine_import_returns>
            <channelengine_generate_feed>
                <schedule>
                    <cron_expr>30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>channelengine/observer::generateFeeds</model>
                </run>
            </channelengine_generate_feed>
        </jobs>
    </crontab>
</config>
